.item {
  display: flex;
  width: 800px;
  margin: auto;
  align-items: center;
  gap: 20px
}

.text {
  width: 200px;
  text-align: start;
}

.button {
  width: 120px;
  height: 40px;
}

.item:hover .buttons {
  display: flex;
  gap: 8px;
}

.buttons {
  display: none;
}

